
@font-face {
    font-family: MaPolicePersos;
    src: url(./../Font/MinecraftRegular-Bmg3.otf);
}
body,  html {
    font-family:MaPolicePersos;
    width: 100%;
    height: 100%;
    color: #BEEFFF;
    background-color:#102A43;
    
}

a:hover {
    color: green;
}
#Retour:hover {
    color: green;
}
input, textarea, option, select {
    background-color: #BEEFFF;
    color: #102A43;
}
select:hover{
    color: green;
}