
@font-face {
    font-family: MaPolicePersos;
    src: url(./../Font/MinecraftRegular-Bmg3.otf);
}
body {
    font-family:MaPolicePersos;
    width: 100%;
}
html{
    width: 100%;
    color: #BEEFFF;
    background-color: #102A43;
}