#Retour {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #BEEFFF;
    margin-right: 20px;
    color: #102A43;
}
.Retour {
    margin-left: auto;
    width: fit-content;
}